

<h2>@ViewBag.ReviewContent</h2>
<br />

<a class="btn btn-success" asp-action="Submit" asp-controller="Products">Adauga produs</a>

@if (TempData.ContainsKey("message"))
{
    <h1>
        @ViewBag.

        <h2>@ViewBag.ReviewContent</h2>
        <br />

        @if (TempData.ContainsKey("message"))
        {
            <h1>@ViewBag.message</h1>
        }

        <br />
        <br />



        <br />
    </h1>
}
@foreach (var product in ViewBag.Products)
{
    @Html.Label("ProductName", "Nume")
    <p>@product.ProductName</p>

    @Html.Label("ProductPrice", "Pret")
    <p>@product.ProductPrice</p>

    @Html.Label("ProductScore", "Scor")
    <p>@product.ProductPrice</p>

    @Html.Label("ProductImageLocation", "Imagine")
    <img src="@product.ProductImageLocation" class="img-fluid" />
    <a class="btn alert-success" asp-action="Show" asp-controller="Products" asp-route-id="@product.ProductID">Afisare produs</a>
    <a class="btn alert-success" asp-action="Edit" asp-controller="Products" asp-route-id="@product.ProductID">Editare produs</a>

    <br />
    <hr />
    <br />
}
<br />
